/* Configurações Globais */
/* Define estilos globais para o corpo do documento */
body {
    margin: 0;
    padding: 0;
    background-color: #0C3820ff; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-family: Arial, sans-serif;
    padding-top: 2px;
}

/* Estilos padrão para o header */
/* Define estilos para o cabeçalho fixo no topo */
header {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #080E14ff; /* Cor de fundo */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 100px;
}

/* Menu de Navegação */
/* Define estilos para o menu de navegação */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 15px;
    display: inline;
}

.menu li:not(:last-child) {
    margin-right: 85px; /* Espaçamento entre itens do menu */
}

.menu a {
    text-decoration: none;
    color: #39ff14; /* Cor do link normal */
}

.menu a:hover {
    color: red; /* Cor do link ao passar o mouse */
}

/* Main */
/* Define estilos para a seção principal do conteúdo */
main {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 120px);
}

/* Títulos */
/* Define estilos para os títulos */
h1,
h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Parágrafos */
/* Define estilos para os parágrafos */
p {
    display: flex;
    justify-content: center;
}

/* Footer */
/* Define estilos para o rodapé */
footer {
    width: 100%;
    background-color: #080E14ff; /* Cor de fundo */
    color: #39ff14; /* Cor do texto */
    text-align: center;
    padding: 1px;
}

/* Estilização do Formulário de Contato */
/* Define estilos para o formulário de contato */
.contato-form {
    max-width: 600px;
    width: 100%;
    border: 1.5px solid #080E14ff; /* Cor da borda */
    background-color: #3C4959ff; /* Cor de fundo */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contato-form label {
    color: #39ff14; /* Cor do rótulo */
    font-weight: bold;
    margin-bottom: 5px;
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #080E14ff; /* Cor da borda */
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.contato-form button {
    background-color: #080E14ff; /* Cor de fundo do botão */
    color: #39ff14; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contato-form button:hover {
    background-color: #0C3820ff; /* Cor de fundo ao passar o mouse */
    color: red; /* Cor do texto ao passar o mouse */
}

.contato-form input:focus,
.contato-form textarea:focus,
.contato-form button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(57, 255, 20, 0.7); /* Estilo de foco */
}

/* Estilização adicional para a página de formação */
.formacao {
    background-image: url('Imagens\\backgrounds2.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Cor do texto */
}

/* Estilização adicional para a página de formação */
.conteudo-formacao {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilização para a página de início */
.inicio {
    background-image: url('Imagens\\backgrounds.jpg'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Cor do texto */
}

.inicio-texto {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.inicio h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.inicio p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-saiba-mais {
    display: inline-block;
    padding: 10px 20px;
    background-color: #39ff14; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-saiba-mais:hover {
    background-color: #080E14ff; /* Cor de fundo ao passar o mouse */
    color: red; /* Cor do texto ao passar o mouse */
    border: 1.5px solid #3C4959ff; /* Cor da borda ao passar o mouse */
    font-weight: bold;
}

/* Estilize a página "Sobre Mim" */
.sobre-main {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Cor do texto */
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.sobre-section,
.interesses-section,
.objetivos-section {
    margin-bottom: 30px;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
}

.sobre-section h1,
.interesses-section h2,
.objetivos-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.sobre-section p,
.interesses-section p,
.objetivos-section p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Estilos para telas pequenas */
@media screen and (max-width: 768px) {
    header {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 16px;
    }

    .conteudo-formacao {
        max-width: 800px;
        margin: 0;
        padding: 2px;
    }

    .formacao {
        background-image: url('Imagens\\backgrounds2.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        text-align: left;
        color: white;
    }

    .formacao h1 {
        text-align: center;
    }

    .menu li:not(:last-child) {
        margin-right: 8px;
    }
}

/* Cores personalizadas */
/* 
--malachite: 14E956ff;
--rich-black:  #080E14ff;
--french-gray: #B7C4D3ff;
--charcoal: #3C4959ff;
--dark-green: #0C3820ff; 
*/
